.DS_store

.npmrc

/node_modules/
/.next/
/.linaria-cache/
/public/images/

/pkg/core/index.js
/pkg/core/**/*.d.ts
/pkg/core/styles.css

/pkg/cli/bin.js

/pkg/blocks/*
!/pkg/blocks/package.json

/pkg/search/*
!/pkg/search/package.json