.DS_store

.npmrc
tsconfig.tsbuildinfo

/node_modules/
/.next/
/.linaria-cache/
/public/images/

/pkg/core/**/*.js
/pkg/core/**/*.cjs
/pkg/core/**/*.d.ts
/pkg/core/**/*.css

/pkg/blocks/**/*.js
/pkg/blocks/**/*.cjs
/pkg/blocks/**/*.d.ts
/pkg/blocks/**/*.css

/pkg/std/**/*.js
/pkg/std/**/*.cjs
/pkg/std/**/*.d.ts

/pkg/hooks/**/*.js
/pkg/hooks/**/*.cjs
/pkg/hooks/**/*.d.ts

/pkg/cli/bin.js

/pkg/search/*
!/pkg/search/package.json