body {
  margin: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
  overflow-x: hidden;
  min-width: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
 * Set the color for the overflow areas. This avoids the white areas
 * at the top or bottom when the user scrolls past the ends.
 */
body {
  background-color: var(--timvir-background-color);
}
