name: Niquis
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

permissions:
  contents: read

jobs:
  niquis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21
      - run: nix run github:nicknovitski/nix-develop .#workflow

      - run: npm run build

      - uses: niquis/action@f054653b611f40e7388d0e0ee53c52d97136db07 # master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NIQUIS_TOKEN: ${{ secrets.NIQUIS_TOKEN }}
