name: Pull Request Verification

on:
  pull_request:
    types: [opened, synchronize, ready_for_review]

permissions:
  contents: read

jobs:
  osv:
    permissions:
      actions: read
      contents: read
      security-events: write

    uses: "google/osv-scanner-action/.github/workflows/osv-scanner-reusable.yml@v2.3.2"

  integrity:
    if: github.event.pull_request.draft == false
    name: Integrity
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21
      - run: nix run github:nicknovitski/nix-develop .#workflow

      - run: npm run build

      - id: create-pull-request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          title: "Fix integrity violations in #${{ github.event.pull_request.number }}"
          branch: fix-integrity-violations-${{ github.event.pull_request.number }}
          base: ${{ github.event.pull_request.head.ref }}

      - if: ${{ steps.create-pull-request.outputs.pull-request-number }}
        run: exit 1

  biome:
    if: github.event.pull_request.draft == false
    name: Biome
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21
      - run: nix run github:nicknovitski/nix-develop .#workflow

      - run: biome check --reporter=github .

  knip:
    if: github.event.pull_request.draft == false
    name: Knip
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21
      - run: nix run github:nicknovitski/nix-develop .#workflow

      - run: pnpx knip
        working-directory: pkg/macro

      - run: pnpx knip
        working-directory: pkg/mdx

      - run: pnpx knip
        working-directory: pkg/timvir
