name: Publish

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 24.12.0
          registry-url: https://registry.npmjs.org

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: 10.23.0

      # Need to install a more recent 'npm' because the version included
      # in Node.js v22 does not support trusted publishing.
      #
      # This can likely be removed once we start using Node.js v24.
      - run: npm install -g npm@11.6.0

      - run: pnpm install

      - run: ./node_modules/.bin/next typegen
      - run: ./node_modules/.bin/tsc --build tsconfig.build.json
      - run: ./node_modules/.bin/rollup -c config/rollup.config.js
      - run: cat pkg/timvir/blocks/*/styles.css > pkg/timvir/blocks/styles.css
      - run: cat pkg/timvir/global.css pkg/timvir/{core,builtins,blocks}/styles.css > pkg/timvir/styles.css
      - run: ./scripts/publish
