name: Urnerys

on: deployment_status

env:
  URNERYS: app.urnerys.dev
  BUILD: "github-run-${{ github.run_id }}-${{ github.run_attempt }}"

permissions:
  contents: read

jobs:
  urnerys:
    name: Urnerys
    if: github.event.deployment_status.state == 'success'
    runs-on: ubuntu-latest
    steps:
      - run: |
          curl -sf -X POST -H "Content-Type: application/json" -d '{ "id": "'"$BUILD"'", "build": { "origin": { "commit": "${{ github.sha }}" } } }' "https://$URNERYS/api/v1/projects/timvir/builds"

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 24.12.0

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: 10.26.1

      - run: pnpm install
      - run: ./node_modules/.bin/playwright install --with-deps chromium webkit

      - run: ./node_modules/.bin/playwright test --retries 3 ./urnerys/*.spec.ts
        env:
          URL: ${{ github.event.deployment_status.target_url }}

      - run: |
          case "${{ github.event.deployment_status.environment }}" in
            Production)
              curl -sf -X PATCH -H "Content-Type: application/json" -d '{ "baseline": { "build": "'"$BUILD"'" } }' "https://$URNERYS/api/v1/projects/timvir/baselines/production"
              ;;
            *)
              curl -sf -X POST -H "Content-Type: application/json" -d '{ "check": { "baseline": "production" } }' "https://$URNERYS/api/v1/projects/timvir/builds/$BUILD/checks"
              ;;
          esac
