name: Validate

on:
  pull_request:
    branches: [master]
  merge_group:

permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21
      - run: nix run github:nicknovitski/nix-develop .#workflow

      - run: tsc --build tsconfig.json
      - run: tsc --build tsconfig.build.json
      - run: rollup -c config/rollup.config.js

      - run: node --test
        working-directory: pkg/mdx
