name: Validate

on:
  pull_request:
    branches: [main]
  merge_group:

permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21
      - run: nix run .#nix-develop .#workflow

      - run: ./node_modules/.bin/next typegen
      - run: tsc --build tsconfig.json
      - run: tsc --build tsconfig.build.json
      - run: rollup -c config/rollup.config.js

      - run: node --test
        working-directory: pkg/mdx
