name: Validate

on:
  pull_request:
    branches: [master]
  merge_group:

permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: DeterminateSystems/nix-installer-action@786fff0690178f1234e4e1fe9b536e94f5433196 # v20
      - run: nix run github:nicknovitski/nix-develop .#workflow

      - run: tsc --build tsconfig.json
      - run: tsc --build tsconfig.build.json
      - run: rollup -c config/rollup.config.js

      - run: node --test
        working-directory: pkg/mdx
